.wrap-name{
    display: flex;
    width: 70%;
}

.wrap-name p{
    width: 150px;
}

.item{
    display: flex;
    background-color: white;
    padding: 30px 50px;
    align-items: center;
    margin-bottom: 10px;

}

.list img{
    border-radius: 50%;
    border:1px solid #cccccc;
    margin-right: 30px;

}

body{
    background-color: #fafafa;
}

.del{
    width: 150px;
    text-align: center;
}
