.publish-name{
    display: flex;
}

.item{
    display: flex;

}
.item p:first-child{
    color:#616161;
    width: 150px;
}
.activity-head{
    border-bottom: 1px solid #fafafa;
    background-color: white;
    padding-top: 1px;
    color: #8a8a8a;
}

.activity-item{
    padding: 10px 20px ;
    background-color: white;
    margin-bottom: 10px;

}

.wrap-list .activity-item:last-child{
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.publish-name .item:first-child{
    width: 200px;
}

.more{
    text-align: end;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.wrap{
    padding: 0;
}

.wrap-list{
    /*background-color: white;*/
}

.volunteer-head, .volunteered-head{
    margin-top: 20px;
    background-color: white;
}

body{
    background-color: #F5F5F5;
}

.btn{
    /*width: 100%;*/
    background-color: #FF8F00;
    /*color: white;*/
    /*line-height: 80px;*/
    /*height: 100px;*/
    text-align: center;
    position: fixed;
    bottom: 0;
    border: none;
}

/*boostrap*/
img{
    height: 150px;
}

a {
    color: #555;
    text-decoration: none;
}

.nav-page{
    background-color: white;
}

.page-active{
    color: red
}