{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结束志愿活动</title>
    <link href="{% static	'css/general.css'	%}" rel="stylesheet" type="text/css"/>
    <link href="{% static	'css/end_activity.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="wrap">
    <div class="item">
        <p>活动图片</p>
        <img src="{% static 'images/smile.jpg' %}" width="200" height="200">
    </div>
    <div class="item">
        <p>感想总结</p>
        <textarea>xxxxxxxxxxxxxxx</textarea>
    </div>
    <div class="wrap-btn">
    <div class="btn">
        <p>提交</p>
    </div>
        </div>
</div>

</body>
</html>