{% extends "font/base.html" %}
{% load static %}
{% block meta %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
{% block css %}
    <link href="{% static	'css/index.css' %}" rel="stylesheet" type="text/css"/>
{#    <link href="{% static	'css/enter_community.css' %}" rel="stylesheet" type="text/css"/>#}

{% endblock %}
{% block title %}加入社区{% endblock %}

{% block content %}
    <div class="head-bg">
        <div class="wrap-user" id="login" style="height: auto;">
            <img src="{% static 'images/community.jpg' %}" width="100%">
        </div>
    </div>
    <div style="padding: 30px 20px">
        <div class="form-group" style="margin-bottom:10px">
        <label for="firstname" class="col-sm-2 control-label" >社区号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="community_code" placeholder="请输入社区码(6位数字)">
        </div>
  </div>
        <span style="padding: 10px 20px">无社区？<a>点击创建社区</a></span>

    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" style="display: flex; justify-content: flex-end;">
      <button type="button" class="btn btn-default" id="confirm-btn">确定</button>
    </div>
  </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    $("#confirm-btn").on('click',function () {
        var data={
            community_code:$('#community_code').val()
        }
        $.ajax({
        type: 'POST',
        url: enter_community,
        data: JSON.stringify(data),
        dataType:"json",
        contentType:"application/json;charset=utf-8",
        success: function (res) {
            console.log(res);
            if (res.code=="200"){
                window.location.href=index
            }else{
                alert("修改失败");
            }

        }

    });
    })

      $("a").on('click',function () {

       window.location.href=create_community

    })

    </script>
{% endblock %}